In [10]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# Connect with SQL and download data

In [11]:
#  Connect with SQl and download data
connString = 'mysql+pymysql://dm_team3:dm_team15119#@18.136.56.185:3306/project_telecom'
conn = create_engine(connString)
stmt = "SELECT * FROM telecom_churn_data"
df1 = pd.read_sql(stmt,conn)

# Add column Names
df1.columns = ['c_State','q_AccountLength','c_AreaCode','c_Phone','c_InternationalPlan','c_VMailPlan','q_VMailMessage','q_DayMins','q_DayCalls','q_DayCharge','q_EveMins','q_EveCalls','q_EveCharge','q_NightMins','q_NightCalls','q_NightCharge','q_InternationalMins','q_Internationalcalls','q_InternationalCharge','q_CustServCalls','y_Churn']

# Index the columns to keep catagorical, continous and outcome separately
df1=df1.sort_index(axis=1)

df1.head()

,c_AreaCode,c_InternationalPlan,c_Phone,c_State,c_VMailPlan,q_AccountLength,q_CustServCalls,q_DayCalls,q_DayCharge,q_DayMins,...,q_EveCharge,q_EveMins,q_InternationalCharge,q_InternationalMins,q_Internationalcalls,q_NightCalls,q_NightCharge,q_NightMins,q_VMailMessage,y_Churn
0,415,no,382-4657,KS,yes,128,1,110,45.07,265.1,...,16.78,197.4,2.7,10,3,91,11.01,244.7,25,False.
1,415,no,371-7191,OH,yes,107,1,123,27.47,161.6,...,16.62,195.5,3.7,13.7,3,103,11.45,254.4,26,False.
2,415,no,358-1921,NJ,no,137,0,114,41.38,243.4,...,10.3,121.2,3.29,12.2,5,104,7.32,162.6,0,False.
3,408,yes,375-9999,OH,no,84,2,71,50.9,299.4,...,5.26,61.9,1.78,6.6,7,89,8.86,196.9,0,False.
4,415,yes,330-6626,OK,no,75,3,113,28.34,166.7,...,12.61,148.3,2.73,10.1,3,121,8.41,186.9,0,False.

# Basic checks on the consistentcy of Data Imported

In [12]:
# Check shae to see of all coumns have been included in data frame
df1.shape

(4617, 21)

In [13]:
# Check data types
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
c_AreaCode               4617 non-null object
c_InternationalPlan      4617 non-null object
c_Phone                  4617 non-null object
c_State                  4617 non-null object
c_VMailPlan              4617 non-null object
q_AccountLength          4617 non-null object
q_CustServCalls          4617 non-null object
q_DayCalls               4617 non-null object
q_DayCharge              4617 non-null object
q_DayMins                4617 non-null object
q_EveCalls               4617 non-null object
q_EveCharge              4617 non-null object
q_EveMins                4617 non-null object
q_InternationalCharge    4617 non-null object
q_InternationalMins      4617 non-null object
q_Internationalcalls     4617 non-null object
q_NightCalls             4617 non-null object
q_NightCharge            4617 non-null object
q_NightMins              4617 non-null object
q_VMailMessage           4617 non-null object
y_Churn                  4617 non-null object
dtypes: object(21)
memory usage: 757.6+ KB

In [14]:
# Convert data to correct data types
convert_col_list = list(['q_AccountLength','q_VMailMessage','q_DayMins','q_DayCalls','q_DayCharge','q_EveMins','q_EveCalls','q_EveCharge','q_NightMins','q_NightCalls','q_NightCharge','q_InternationalMins','q_Internationalcalls','q_InternationalCharge','q_CustServCalls'])
df1[convert_col_list] = df1[convert_col_list].apply(pd.to_numeric, errors='coerce') 

# Check data types again - total 4617 rows and all columns have been converted correctly
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
c_AreaCode               4617 non-null object
c_InternationalPlan      4617 non-null object
c_Phone                  4617 non-null object
c_State                  4617 non-null object
c_VMailPlan              4617 non-null object
q_AccountLength          4617 non-null int64
q_CustServCalls          4617 non-null int64
q_DayCalls               4617 non-null int64
q_DayCharge              4617 non-null float64
q_DayMins                4617 non-null float64
q_EveCalls               4617 non-null int64
q_EveCharge              4617 non-null float64
q_EveMins                4617 non-null float64
q_InternationalCharge    4617 non-null float64
q_InternationalMins      4617 non-null float64
q_Internationalcalls     4617 non-null int64
q_NightCalls             4617 non-null int64
q_NightCharge            4617 non-null float64
q_NightMins              4617 non-null float64
q_VMailMessage           4617 non-null int64
y_Churn                  4617 non-null object
dtypes: float64(8), int64(7), object(6)
memory usage: 757.6+ KB

In [15]:
# Check for na or null - No Null or Na values found
print(df1.isna().sum(), df1.isnull().sum())

c_AreaCode               0
c_InternationalPlan      0
c_Phone                  0
c_State                  0
c_VMailPlan              0
q_AccountLength          0
q_CustServCalls          0
q_DayCalls               0
q_DayCharge              0
q_DayMins                0
q_EveCalls               0
q_EveCharge              0
q_EveMins                0
q_InternationalCharge    0
q_InternationalMins      0
q_Internationalcalls     0
q_NightCalls             0
q_NightCharge            0
q_NightMins              0
q_VMailMessage           0
y_Churn                  0
dtype: int64 c_AreaCode               0
c_InternationalPlan      0
c_Phone                  0
c_State                  0
c_VMailPlan              0
q_AccountLength          0
q_CustServCalls          0
q_DayCalls               0
q_DayCharge              0
q_DayMins                0
q_EveCalls               0
q_EveCharge              0
q_EveMins                0
q_InternationalCharge    0
q_InternationalMins      0
q_Internationalcalls     0
q_NightCalls             0
q_NightCharge            0
q_NightMins              0
q_VMailMessage           0
y_Churn                  0
dtype: int64

In [16]:
# Find and Delete Duplicate rows - No Dulicate rows found
df1.duplicated().sum()

0

In [17]:
# Find special characters
# None found

# Save the imported Data into excel file - OriginalImportedFile.xlsx

In [18]:
# Create Back up of original file.. This file will be used for all future imports. masked after saving the file
df1.to_csv("OriginalImportedFile.csv",index=False)

# Save the Data after encoding

In [19]:

enc = LabelEncoder()
# List of varibales that need to be endocded... c_Phone doent need to be coded as the data is already unique
CatVarList = ['c_InternationalPlan','c_AreaCode','c_State','c_VMailPlan','y_Churn']
for i in CatVarList:
    df1[[i]] = enc.fit_transform(df1[[i]])

# Phone no. is like id column So can be removed.
df1.drop('c_Phone', inplace=True, axis=1)
    
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 20 columns):
c_AreaCode               4617 non-null int32
c_InternationalPlan      4617 non-null int32
c_State                  4617 non-null int32
c_VMailPlan              4617 non-null int32
q_AccountLength          4617 non-null int64
q_CustServCalls          4617 non-null int64
q_DayCalls               4617 non-null int64
q_DayCharge              4617 non-null float64
q_DayMins                4617 non-null float64
q_EveCalls               4617 non-null int64
q_EveCharge              4617 non-null float64
q_EveMins                4617 non-null float64
q_InternationalCharge    4617 non-null float64
q_InternationalMins      4617 non-null float64
q_Internationalcalls     4617 non-null int64
q_NightCalls             4617 non-null int64
q_NightCharge            4617 non-null float64
q_NightMins              4617 non-null float64
q_VMailMessage           4617 non-null int64
y_Churn                  4617 non-null int32
dtypes: float64(8), int32(5), int64(7)
memory usage: 631.3 KB

In [20]:
# Saving the file with normal encoding. and Masked after saving
df1.to_csv("OriginalImportedFile_enc_Normal.csv",index=False)

In [21]:
# One hot Encoding of AreaCode - has 3 classes rest all have 2 classes and C-Phone is inconsequential
enc = OneHotEncoder()

# Transforms the Area code into 3 columns
Enc_temp = enc.fit_transform(df1.c_AreaCode.values.reshape(-1,1)).toarray()

# Name the columns created as c_AreaCode1,..2,..3 and convert it into a Dataframe
Enc_temp = pd.DataFrame(Enc_temp,columns=["c_AreaCode"+str(int(i)) for i in range(Enc_temp.shape[1])])

# Add the new Data frame into original data frame df1
df1 = pd.concat([df1,Enc_temp],axis=1)

# Sort the columns
df1=df1.sort_index(axis=1)

# Delete the Original Area code columns
df1.drop('c_AreaCode', inplace=True, axis=1)

# Convert Area Code Data type from float64 to int32
df1.c_AreaCode0=df1.c_AreaCode0.astype('int32')
df1.c_AreaCode1=df1.c_AreaCode1.astype('int32')
df1.c_AreaCode2=df1.c_AreaCode2.astype('int32')

E:\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 22 columns):
c_AreaCode0              4617 non-null int32
c_AreaCode1              4617 non-null int32
c_AreaCode2              4617 non-null int32
c_InternationalPlan      4617 non-null int32
c_State                  4617 non-null int32
c_VMailPlan              4617 non-null int32
q_AccountLength          4617 non-null int64
q_CustServCalls          4617 non-null int64
q_DayCalls               4617 non-null int64
q_DayCharge              4617 non-null float64
q_DayMins                4617 non-null float64
q_EveCalls               4617 non-null int64
q_EveCharge              4617 non-null float64
q_EveMins                4617 non-null float64
q_InternationalCharge    4617 non-null float64
q_InternationalMins      4617 non-null float64
q_Internationalcalls     4617 non-null int64
q_NightCalls             4617 non-null int64
q_NightCharge            4617 non-null float64
q_NightMins              4617 non-null float64
q_VMailMessage           4617 non-null int64
y_Churn                  4617 non-null int32
dtypes: float64(8), int32(7), int64(7)
memory usage: 667.4 KB

In [23]:
# Saving the file with One Hot encoding. and Masked after saving
df1.to_csv("OriginalImportedFile_enc_OneHot.csv",index=False)